[Desktop Entry]
Comment=Color temperature adjustment tool
Name=Redshift
Exec=gtk-redshift
StartupNotify=true
Terminal=false
GenericName=Color temperature adjustment
Version=1.0
X-GNOME-Autostart-enabled=false
Type=Application
Categories=Utility;
Icon=redshift

